<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>


    <div class="container my-2">
    <div class="card">
    <div class="card-body">
        <div  class="container my-5">
        
        
        
         <div th:switch="${products}">
    <h2 th:case="null">No products yet!</h2>
        <div th:case="*">
            <h2>Products</h2>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>price</th>
                    
                    </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.price}"></td>
                   
                </tr>
            </tbody>
        </table>
    </div>      
   
</div>




        </div>
    </div>
    </div>
    </div>
    
    
</body>

</html>