<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Store for Users</title>
     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
</head>
<body>
UserId: <span th:text="${userId}" ></span> <br>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
             <H2 align="center">Store</H2><br><br>
		</div>
	</div>


	<div class="row">
	
	
		<div class="col-md-2">
		<div class="row"  >
		
		<!--// 
		   <div th:replace="~{fragments/template :: menu}">		  
		   </div> 
		    //-->
		   
		   
		   
	   <div >  <!-- Menu -->
			
			<div class="col-md-12">
           		<div class="card border-info mb-3" style="max-width: 18rem;">
  				<div class="card-header">Menu</div>
  					<div class="card-body">
    					<p class="card-text"><a th:href="@{'/user/' + ${userId}+'/store'}">Store</a></p>
    					<p class="card-text"><a th:href="@{'/user/info/' + ${userId}}">User info</a></p>
    					<p class="card-text"><a href="#">logout</a></p>
  					</div>
					</div>
			</div>
			
			</div>  <!-- Menu -->
		   
		   
		</div>   
		</div>
		
		
		<div class="col-md-8"  th:switch="${products}">    <!--Content -->
		
		
               <div th:case="*">

  			<div class="row" >
    
   <div class="col-sm-2"  th:each="product : ${products}">
   <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Product  <span th:text="${product.product_id}"></span> </div>
  <div class="card-body">
    <h5 class="card-title"><span th:text="${product.productName}"></span></h5>
    <p class="card-text"><span th:text="${product.description}"></span></p>
    
     <p class="card-text"><strong>Price: $ </strong><span th:text="${product.price}"></span></p>
    
       <a  th:href="@{'/user/addCart/' + ${userId}+ '/' + ${product.product_id}}"         class="btn btn-primary">
              		  <i class="fas fa-user-plus ml-2"> Add to Cart </i></a>
  </div>
</div>   </div>

     
</div> <!-- row -->

</div>  <!-- th:case="*" -->     
      
		</div>     <!--End Content -->
		
		
		<div class="col-md-2">   <!-- Cart -->		
		
		   	<div class="row">
			
				<div class="col-md-12">
           			<div class="card border-info mb-3" style="max-width: 18rem;">
           			
  					<div class="card-header">Cart</div>
  					
  					<div class="card-body">
  					    <h5 class="card-title"><a href="#">Checkout</a></h5>
  					    
  					    
  					     <div th:switch="${carts}">
   				<h5 th:case="null">No items yet!</h5>
        		<div th:case="*">
                	<div th:each="cart : ${carts}">
                    	<span th:text="${cart.product_id}"></span>                   
                </div>      
		 	</div> 
		 	</div>     
  
  					    
  					   
  					    
    					<p class="card-text"> <span th:text="${cartItems}" ></span> items in cart</p>
    					<h5 class="card-title"> Total:  $ <span th:text="${totalPrice}" ></span></h5>
  					</div>
					</div>
				</div>
			
			</div>
      
		</div>	    <!--col-md-2 End Cart -->	
		
	</div>
	
	<div class="row">
		<div class="col-md-12">
		Bottom
		</div>
	</div>
</div>



    
</body>

</html>