<!DOCTYPE html>
 <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>   
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Store for Users</title>
     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
</head>
<body>


	   <div th:fragment="menu">  <!-- Menu -->
			
			<div class="col-md-12">
           		<div class="card border-info mb-3" style="max-width: 18rem;">
  				<div class="card-header">Menu</div>
  					<div class="card-body">
    					<p class="card-text"><a th:href="@{'/user/' + ${userId}+'/store'}">Store</a></p>
    					<p class="card-text"><a th:href="@{'/user/info/' + ${userId}}">User info</a></p>
    					<p class="card-text"><a href="#">logout</a></p>
  					</div>
					</div>
			</div>
			
			</div>  <!-- Menu -->
			
			
		   <div th:fragment="admin-menu">  <!-- ADMIN Menu -->
			
			<div class="col-md-12">
           		<div class="card border-info mb-3" style="max-width: 18rem;">
  				<div class="card-header">Menu</div>
  					<div class="card-body">
    						<p class="card-text"><a th:href="@{'/admin/users'}">users</a></p>
    						<p class="card-text"><a th:href="@{'/admin/products'}">products</a></p>
    						<p class="card-text"><a th:href="@{'/admin/carts'}">carts</a></p>
    						<p class="card-text"><a th:href="@{'/admin/orders'}">orders</a></p>
    						<p class="card-text"><a th:href="@{'/admin/logout'}">logout</a></p>
    					
    					
    					
  					</div>
					</div>
			</div>
			
			</div>  <!-- Admin Menu -->	
			
			
			
			
		
		<div class="row" th:fragment="cart" >   <!-- cart R-->
		
			<div class="col-md-12">
           			<div class="card border-info mb-3" style="max-width: 18rem;">
           			
  					<div class="card-header">Cart</div>
  					
  					<div class="card-body">
  					    <h5 class="card-title"><a href="#">Go to Cart</a></h5>
  					    
  					    
  			<div th:switch="${carts}">
   				<h5 th:case="null">No items yet!</h5>
        		<div th:case="*">
                	<div th:each="cart : ${carts}">
                    	<span th:text="${cart.id}"></span>                   
                </div>      
		 	</div> 
		 	</div>  		
		 			    
    					<p class="card-text"> <span th:text="${cartItems}" ></span> items in cart</p>
    					<h5 class="card-title"> Total:  $ <span th:text="${totalPrice}" ></span></h5>
    					
  					</div>
					</div>
				</div>	
			 <!-- cart R-->
			</div>	
			
			
			
			
			
			
			
			
			 
			
		
	<div class="row"  th:fragment="footer">
		<div class="col-md-12">
		 &copy;2021 dzmitryS
		</div>
	</div>

    
</body>

</html>