<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>   
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Store for Users</title>
     
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
</head>
<body>


	   <div th:fragment="menu">  <!-- Menu -->
			
			<div class="col-md-12">
           		<div class="card border-info mb-3" style="max-width: 18rem;">
  				<div class="card-header">Menu</div>
  					<div class="card-body">
    					<p class="card-text"><a th:href="@{'/user/' + ${userId}+'/store'}">Store</a></p>
    					<p class="card-text"><a th:href="@{'/user/info/' + ${userId}}">User info</a></p>
    					<p class="card-text"><a href="#">logout</a></p>
  					</div>
					</div>
			</div>
			
			</div>  <!-- Menu -->
		


    
</body>

</html>